body{
    font: normal 1em Arial, Helvetica, sans-serif
}

a{
    font-weight: bold;
    text-decoration: none;
    color: red;
}

a:visited{
    color: darkred;
}

a:hover{
    text-decoration: underline;
}

.especial:hover{
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.especial::before{
    content: '>';
    font-weight: lighter;
}

.especial::after{
    content: '<';
    font-weight: lighter;
}